In [1]:
# Neural Network for Bank Data
# Data from http://archive.ics.uci.edu/ml/datasets/Bank+Marketing

import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.optimizers import SGD
from keras.layers import Dense
from keras.callbacks import TensorBoard
from sklearn.model_selection import train_test_split
from keras.losses import binary_crossentropy
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
bank = pd.read_csv("data/bank/bank-full.csv", sep=';')

In [3]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

Alright we need to encode this because non-numeric data is as good as garbage

In [4]:
def baggize(values):
    sack = {}
    for v in values:
        if v not in sack.keys():
            sack[v] = len(sack)
    kcas = dict((v, k) for (k, v) in sack.items())
    return {'sack': sack, 'kcas': kcas}

In [5]:
columns = bank.columns
columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [6]:
sacks = {}
for c in columns:
    if bank[c].dtype == 'O':
        vals = bank[c].values
        result = baggize(vals)
        sacks[c] = result
        sack = result["sack"]
        bank[c] = [sack[v] for v in vals]

In [7]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,0,0,0,0,2143,0,0,0,5,0,261,1,-1,0,0,0
1,44,1,1,1,0,29,0,0,0,5,0,151,1,-1,0,0,0
2,33,2,0,1,0,2,0,1,0,5,0,76,1,-1,0,0,0
3,47,3,0,2,0,1506,0,0,0,5,0,92,1,-1,0,0,0
4,33,4,1,2,0,1,1,0,0,5,0,198,1,-1,0,0,0
5,35,0,0,0,0,231,0,0,0,5,0,139,1,-1,0,0,0
6,28,0,1,0,0,447,0,1,0,5,0,217,1,-1,0,0,0
7,42,2,2,0,1,2,0,0,0,5,0,380,1,-1,0,0,0
8,58,5,0,3,0,121,0,0,0,5,0,50,1,-1,0,0,0
9,43,1,1,1,0,593,0,0,0,5,0,55,1,-1,0,0,0
10,41,6,2,1,0,270,0,0,0,5,0,222,1,-1,0,0,0
11,29,6,1,1,0,390,0,0,0,5,0,137,1,-1,0,0,0
12,53,1,0,1,0,6,0,0,0,5,0,517,1,-1,0,0,0
13,58,1,0,2,0,71,0,0,0,5,0,71,1,-1,0,0,0
14,57,7,0,1,0,162,0,0,0,5,0,174,1,-1,0,0,0
15,51,5,0,3,0,229,0,0,0,5,0,353,1,-1,0,0,0
16,45,6,1,2,0,13,0,0,0,5,0,98,1,-1,0,0,0
17,57,3,0,3,0,52,0,0,0,5,0,38,1,-1,0,0,0
18,60,5,0,3,0,60,0,0,0,5,0,219,1,-1,0,0,0
19,33,7,0,1,0,0,0,0,0,5,0,54,1,-1,0,0,0
20,28,3,0,1,0,723,0,1,0,5,0,262,1,-1,0,0,0
21,56,0,0,0,0,779,0,0,0,5,0,164,1,-1,0,0,0
22,32,3,1,3,0,23,0,1,0,5,0,160,1,-1,0,0,0
23,25,7,0,1,0,50,0,0,0,5,0,342,1,-1,0,0,0
24,40,5,0,3,0,0,0,1,0,5,0,181,1,-1,0,0,0
25,44,6,0,1,0,-372,0,0,0,5,0,172,1,-1,0,0,0
26,39,0,1,0,0,255,0,0,0,5,0,296,1,-1,0,0,0
27,52,2,0,1,0,113,0,1,0,5,0,127,1,-1,0,0,0
28,46,0,1,1,0,-246,0,0,0,5,0,255,2,-1,0,0,0
29,36,1,1,1,0,265,0,1,0,5,0,348,1,-1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,3,0,1,0,6879,1,0,1,15,5,74,2,118,3,1,0
45182,34,1,0,1,0,133,1,0,1,15,5,401,2,187,5,3,1
45183,70,5,0,3,0,324,1,0,1,15,5,78,1,96,7,3,0
45184,63,5,0,1,0,1495,1,0,1,16,5,138,1,22,5,3,0
45185,60,7,0,0,0,4256,0,0,1,16,5,200,1,92,4,3,1
45186,59,4,0,2,0,1500,1,0,1,16,5,280,1,104,2,1,0
45187,32,7,1,1,0,1168,0,0,1,16,5,411,1,-1,0,0,1
45188,29,0,1,1,0,703,0,0,1,16,5,236,1,550,2,3,1
45189,25,7,1,1,0,199,1,0,1,16,5,173,1,92,5,1,0
45190,32,3,0,1,0,136,1,0,1,16,5,206,1,188,3,3,1
45191,75,5,2,0,0,3810,0,0,1,16,5,262,1,183,1,1,1
45192,29,0,1,0,0,765,1,0,1,16,5,238,1,-1,0,0,1
45193,28,8,1,0,0,159,1,0,1,16,5,449,2,33,4,3,1
45194,59,0,0,0,0,138,0,1,1,16,5,162,2,187,5,1,0
45195,68,5,0,1,0,1146,1,0,1,16,5,212,1,187,6,3,1
45196,25,11,1,1,0,358,1,0,1,16,5,330,1,-1,0,0,1
45197,36,0,1,1,0,1511,0,0,1,16,5,270,1,-1,0,0,1
45198,37,0,0,0,0,1428,1,0,1,16,5,333,2,-1,0,0,0
45199,34,3,1,1,0,1475,0,0,1,16,5,1166,3,530,12,2,0
45200,38,1,0,1,0,557,0,0,1,16,5,1556,4,-1,0,0,1
45201,53,0,0,0,0,583,1,0,1,17,5,226,1,184,4,3,1
45202,34,6,1,1,0,557,1,0,1,17,5,224,1,-1,0,0,1
45203,23,11,1,0,0,113,1,0,1,17,5,266,1,-1,0,0,1
45204,73,5,0,1,0,2850,1,0,1,17,5,300,1,40,8,1,1
45205,25,1,1,1,0,505,1,1,1,17,5,386,2,-1,0,0,1
45206,51,1,0,0,0,825,1,0,1,17,5,977,3,-1,0,0,1
45207,71,5,2,3,0,1729,1,0,1,17,5,456,2,-1,0,0,1
45208,72,5,0,1,0,5715,1,0,1,17,5,1127,5,184,3,3,1
45209,57,3,0,1,0,668,1,0,2,17,5,508,4,-1,0,0,0
45210,37,2,0,1,0,2971,1,0,1,17,5,361,2,188,11,2,0

In [8]:
ys = bank["y"].values.reshape(-1,1)

In [9]:
xs = bank[[c for c in columns if c != "y"]].values

In [10]:
xs, ys

(array([[ 58,   0,   0, ...,  -1,   0,   0],
        [ 44,   1,   1, ...,  -1,   0,   0],
        [ 33,   2,   0, ...,  -1,   0,   0],
        ...,
        [ 72,   5,   0, ..., 184,   3,   3],
        [ 57,   3,   0, ...,  -1,   0,   0],
        [ 37,   2,   0, ..., 188,  11,   2]]), array([[0],
        [0],
        [0],
        ...,
        [1],
        [0],
        [0]]))

In [11]:
X_train, X_test, y_train, y_test = train_test_split(xs, ys, test_size=0.2)

In [12]:
train_len = len(X_train)
inp_shape = X_train[0].shape
out_shape = y_train[0].shape
train_len, inp_shape, out_shape

(36168, (16,), (1,))

In [13]:
model = Sequential()
model.add(Dense(units=16, activation='tanh', input_shape=inp_shape))
model.add(Dense(units=8, activation='tanh', input_shape=(16,)))
model.add(Dense(units=4, activation='tanh', input_shape=(8,)))
model.add(Dense(units=2, activation='tanh', input_shape=(4,)))
model.add(Dense(units=1, activation='tanh', input_shape=(2,)))
tb_callback = TensorBoard(log_dir='./logs/bank')

In [14]:
epochs = 50
model.compile(loss=binary_crossentropy, optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=epochs, batch_size=96,
          callbacks=[tb_callback])

Epoch 1/50
36168/36168 [==============================] - 2s 66us/step - loss: 1.0915 - acc: 0.7884
Epoch 2/50
36168/36168 [==============================] - 2s 65us/step - loss: 0.3772 - acc: 0.8839
Epoch 3/50
36168/36168 [==============================] - 2s 54us/step - loss: 0.3432 - acc: 0.8840
Epoch 4/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.3347 - acc: 0.8840
Epoch 5/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.3329 - acc: 0.8840
Epoch 6/50
36168/36168 [==============================] - 2s 53us/step - loss: 0.3286 - acc: 0.8840
Epoch 7/50
36168/36168 [==============================] - 2s 58us/step - loss: 0.3210 - acc: 0.8840
Epoch 8/50
36168/36168 [==============================] - 2s 58us/step - loss: 0.3228 - acc: 0.8840
Epoch 9/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.3199 - acc: 0.8840
Epoch 10/50
36168/36168 [==============================] - 2s 57us/step - loss: 0.3176 - acc: 0.8840
Epoch 11/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.3229 - acc: 0.8840
Epoch 12/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.3132 - acc: 0.8840
Epoch 13/50
36168/36168 [==============================] - 2s 61us/step - loss: 0.3148 - acc: 0.8840
Epoch 14/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.3465 - acc: 0.8840
Epoch 15/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.3313 - acc: 0.8840
Epoch 16/50
36168/36168 [==============================] - 2s 59us/step - loss: 0.3109 - acc: 0.8840
Epoch 17/50
36168/36168 [==============================] - 2s 54us/step - loss: 0.3100 - acc: 0.8840
Epoch 18/50
36168/36168 [==============================] - 2s 62us/step - loss: 0.3044 - acc: 0.8840
Epoch 19/50
36168/36168 [==============================] - 2s 57us/step - loss: 0.3166 - acc: 0.8840
Epoch 20/50
36168/36168 [==============================] - 2s 54us/step - loss: 0.2991 - acc: 0.8840
Epoch 21/50
36168/36168 [==============================] - 2s 58us/step - loss: 0.2970 - acc: 0.8840
Epoch 22/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.3101 - acc: 0.8840
Epoch 23/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.3179 - acc: 0.8840
Epoch 24/50
36168/36168 [==============================] - 2s 62us/step - loss: 0.2964 - acc: 0.8840
Epoch 25/50
36168/36168 [==============================] - 2s 54us/step - loss: 0.2924 - acc: 0.8840
Epoch 26/50
36168/36168 [==============================] - 2s 54us/step - loss: 0.2843 - acc: 0.8840
Epoch 27/50
36168/36168 [==============================] - 2s 59us/step - loss: 0.2972 - acc: 0.8840
Epoch 28/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.2955 - acc: 0.8840
Epoch 29/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.3007 - acc: 0.8840
Epoch 30/50
36168/36168 [==============================] - 2s 59us/step - loss: 0.2902 - acc: 0.8840
Epoch 31/50
36168/36168 [==============================] - 2s 60us/step - loss: 0.2941 - acc: 0.8840
Epoch 32/50
36168/36168 [==============================] - 2s 62us/step - loss: 0.2966 - acc: 0.8841
Epoch 33/50
36168/36168 [==============================] - 2s 60us/step - loss: 0.2862 - acc: 0.8840
Epoch 34/50
36168/36168 [==============================] - 2s 55us/step - loss: 0.2809 - acc: 0.8840
Epoch 35/50
36168/36168 [==============================] - 2s 59us/step - loss: 0.2811 - acc: 0.8840
Epoch 36/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.2783 - acc: 0.8840
Epoch 37/50
36168/36168 [==============================] - 2s 60us/step - loss: 0.2758 - acc: 0.8840
Epoch 38/50
36168/36168 [==============================] - 2s 61us/step - loss: 0.2808 - acc: 0.8840
Epoch 39/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.2807 - acc: 0.8840
Epoch 40/50
36168/36168 [==============================] - 2s 65us/step - loss: 0.2835 - acc: 0.8840
Epoch 41/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.2821 - acc: 0.8840
Epoch 42/50
36168/36168 [==============================] - 2s 57us/step - loss: 0.2886 - acc: 0.8840
Epoch 43/50
36168/36168 [==============================] - 2s 61us/step - loss: 0.2814 - acc: 0.8840
Epoch 44/50
36168/36168 [==============================] - 2s 57us/step - loss: 0.2773 - acc: 0.8840
Epoch 45/50
36168/36168 [==============================] - 2s 59us/step - loss: 0.2728 - acc: 0.8840
Epoch 46/50
36168/36168 [==============================] - 2s 60us/step - loss: 0.2785 - acc: 0.8840
Epoch 47/50
36168/36168 [==============================] - 2s 56us/step - loss: 0.2790 - acc: 0.8840
Epoch 48/50
36168/36168 [==============================] - 2s 61us/step - loss: 0.2750 - acc: 0.8840
Epoch 49/50
36168/36168 [==============================] - 2s 57us/step - loss: 0.2912 - acc: 0.8836
Epoch 50/50
36168/36168 [==============================] - 2s 60us/step - loss: 0.2730 - acc: 0.8840

In [15]:
score = model.evaluate(X_test, y_test, batch_size=64)
score

9043/9043 [==============================] - 0s 27us/step

[0.2723594950381257, 0.8789118655774889]

In [16]:
predicted = model.predict(X_test)

In [17]:
predicted = [0 if p < 0.5 else 1 for p in predicted]

In [18]:
errors = [(y1, y2) for (y1, y2) in zip(predicted, y_test) if y1 != y2]

In [19]:
len(errors)

1094